<form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <mat-card>
        <mat-form-field class="example-form-filed">
            <mat-label>FIO</mat-label>
            <input type="text" matInput id="fio" name="fio" formControlName="fio">
        </mat-form-field>
        <mat-form-field class="example-form-filed">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="user@gmail.com" id="email" name="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-form-filed">
            <mat-label>Password</mat-label>
            <input type="password" matInput id="password" name="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-form-filed">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
        </mat-form-field>
        <button type="submit" [disabled]="form.invalid" mat-flat-button color="primary">OK</button>
    </mat-card>
</form>